/*GLOBALS*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

.white-text {
  color: #fff;
}

/* HEADER STYLES*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  height: 95px;
}

#brand {
  font-family: 'Satisfy', cursive;
  color: #F27680; /* orange accent color*/
  /*margin-top: 32px;*/
  font-size: 42px;
}

header ul.nav-pills {
  /*margin-top: 26px;*/
}

/*JUMBOTRON STYLES*/

.jumbotron {
  height: 425px;
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: cover;
}

.jumbotron p {
  margin-top: 16px;
  font-size: 28px;
}

/*FEATURED STYLES*/

.thumbnail {
  background-color: #EDF1F4;
  padding: 8px;
}

/*SERVICES STYLES*/

.nav-stacked p {
  margin-top: 16px;
}

/*FOOTER STYLES*/
footer {
  background-color: #000;
  padding: 20px 0px;
}

address, address a {
  color: #BFC0C1; /*light grey */
  text-decoration: none;
}

.border {
  border-left: 1px solid #333;
}

.social-media {
  color: #BFC0C1;
  text-decoration: none;
}
